@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: linear-gradient(45deg, #ffa751, #ffe259);
  color: #ffffff;
	font-family: 'Courier New', 'Courier', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.number {
	position: relative;
	width: 200px;
	height: 100px;
}

.one-one {
  width: 20px; 
  height: 40px; 
	border-radius: 3px;
  background-color: #ffffff; 
	box-shadow: 0px 0px 10px rgba(139, 64, 0, 0.4);
  transform: rotate(45deg);
  z-index: 3;
	position: absolute;
	left: -15px;
}

.one-two {
	z-index: 4;
	position: absolute;
	width: 20px; 
  height: 100px; 
	border-radius: 3px;
  background-color: #ffffff; 
	box-shadow: 0px 0px 10px rgba(139, 64, 0, 0.4);			
}
 
.firstZero {
	z-index: 2;
	position: absolute;
	left: 10px;
	width: 50px; 
  height: 50px; 
  border: 25px solid #ffffff; 
  border-radius: 50%;
	box-shadow: 0px 0px 15px rgba(139, 64, 0, 0.4);					
}

.secondZero {
	z-index: -100;
	position: absolute;
	left: 95px;
	width: 50px; 
  height: 50px; 
  border: 25px solid #ffffff; 
  border-radius: 50%;
	box-shadow: 0px 0px 15px rgba(139, 64, 0, 0.4);					
}

.largeWord {
	font-size: 80px;
	font-weight: bold;
	text-align: center;
	line-height: 65%;
	padding-top: 10px;
	
}

.smallWord {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
} 